@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .background-animate {
        background-size: 400%;
    
        -webkit-animation: AnimationName 5s ease infinite;
        -moz-animation: AnimationName 5s ease infinite;
        animation: AnimationName 5s ease infinite;
      }
    
      @keyframes AnimationName {
        0%,
        100% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
      }
}
